.single-post {
    max-width: 90%;
    margin: 50px auto;
    text-align: center;

    .btnFacebook { 
        width: 100px;
        height:35px;
        line-height: 35px;  
        border-radius: 4px;
        background: #3b5998;
        color:white;
        border:0px transparent;  
        text-align: center;
        font-weight: lighter;
        margin:20px;
        display: inline-block;

        &:hover {
            background: #3b5998;
            opacity: 0.6;
        }
    }
}